:root {
	--primary-color: #1db954; /* Example Spotify green */
	--secondary-color: #191414; /* Spotify black */
	--text-color: #fff;
	--font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	background-color: var(--secondary-color);
	color: var(--text-color);
	overflow-x: hidden;
}
