.home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-width: 50vw;
	background: linear-gradient(
		135deg,
		var(--primary-color),
		var(--secondary-color)
	);
	color: var(--text-color);
	font-size: 2rem;
}
