.playlistPlayer {
	text-align: center;
	margin: 2rem;
}

.playlistPlayer button {
	margin: 1rem;
	padding: 0.5rem 1rem;
	background-color: #1db954;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.playlistPlayer button:hover {
	background-color: #168f3d;
}
